@* @model SignInModel *@
@{
    ViewData["Title"] = "Home Page";
}
@* 
<form class="reg-log-form" asp-controller="Account" asp-action="SignIn" method="post">
    <ul class="reg-log-fields">
        <li class="reg-log-field">
            <label asp-for="UserName">  </label>
            <input asp-for="UserName" />
            <span asp-validation-for="UserName"></span>
        </li>
        
        <li class="reg-log-field">
            <label asp-for="Email"></label>
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </li>

        <li class="reg-log-field">
            <label asp-for="Password"></label>
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </li>

        <li class="reg-log-field">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword"></span>
        </li>
    </ul>

    <button class="form-button" type="submit">Sign In</button>
</form> *@