@{
    ViewData["Title"] = "FAQ";
}

<section class="faq-section">
    <p class="section-title">FAQ</p>
    <ul class="accordion" id="questions">
        <li class="accordion-item">
            <div class="top-section">
                <p class="text">How are you?</p>
                <i class="fa-solid fa-chevron-down icon"></i>
            </div>

            <div class="hidden-section">
                <p class="content">Text of the printing and typesetting industry. Lorem Ipsum been the industry's standard dummy text ever since t of the printing and typesetting industry. Lorem Ipsum been the industry's standard dummy text ever since t of the printing and typesetting industry. Lorem Ipsum been the industry's standard dummy text ever since the 1500s, when an unknown printer took</p>
            </div>
        </li>

        <li class="accordion-item">
            <div class="top-section">
                <p class="text">Why not?</p>
                <i class="fa-solid fa-chevron-down icon"></i>
            </div>

            <div class="hidden-section">
                <p class="content">Text of the printing and typesetting industry. Lorem Ipsum been the industry's standard dummy text ever since the 1500s, when an unknown printer took</p>
            </div>
        </li>
        
        <li class="accordion-item">
            <div class="top-section">
                <p class="text">Where is that?</p>
                <i class="fa-solid fa-chevron-down icon"></i>
            </div>

            <div class="hidden-section">
                <p class="content">Text of the printing and typesetting industry. Lorem Ipsum been the industry's standard dummy text ever since the 1500s, when an unknown printer took</p>
            </div>
        </li>

        <li class="accordion-item">
            <div class="top-section">
                <p class="text">For what?</p>
                <i class="fa-solid fa-chevron-down icon"></i>
            </div>

            <div class="hidden-section">
                <p class="content">Text of the printing and typesetting industry. Lorem Ipsum been the industry's standard dummy text ever since the 1500s, when an unknown printer took</p>
            </div>
        </li>

        <li class="accordion-item">
            <div class="top-section">
                <p class="text">Why now?</p>
                <i class="fa-solid fa-chevron-down icon"></i>
            </div>

            <div class="hidden-section">
                <p class="content">Text of the printing and typesetting industry. Lorem Ipsum been the industry's standard dummy text ever since the 1500s, when an unknown printer took</p>
            </div>
        </li>

        <li class="accordion-item">
            <div class="top-section">
                <p class="text">Whom is that?</p>
                <i class="fa-solid fa-chevron-down icon"></i>
            </div>

            <div class="hidden-section">
                <p class="content">Text of the printing and typesetting industry. Lorem Ipsum been the industry's standard dummy text ever since the 1500s, when an unknown printer took</p>
            </div>
        </li>

        <li class="accordion-item">
            <div class="top-section">
                <p class="text">Where are we?</p>
                <i class="fa-solid fa-chevron-down icon"></i>
            </div>

            <div class="hidden-section">
                <p class="content">Text of the printing and typesetting industry. Lorem Ipsum been the industry's standard dummy text ever since the 1500s, when an unknown printer took</p>
            </div>
        </li>

        <li class="accordion-item">
            <div class="top-section">
                <p class="text">Who you are?</p>
                <i class="fa-solid fa-chevron-down icon"></i>
            </div>

            <div class="hidden-section">
                <p class="content">Text of the printing and typesetting industry. Lorem Ipsum been the industry's standard dummy text ever since the 1500s, when an unknown printer took</p>
            </div>
        </li>
    </ul>
</section>

<script src="~/Scripts/Events/Components/Accordion/Accordion.js" type="module"></script>