$white: #ffffff;
$black: #000000;
$red: #ed0404;
$orange: #ed7a00;

$lightBlue: #2863f8;
$lightGray: #555555;

$darkBlue: #0012ad;
$darkGray: #434343;

$transparentWhite: #ffffff99;
$transparentGray: #bdbdbd35;
$transparentBlack: #00000090;
$transparentBlue: #0c6dfe22;

$bodyColor: #f5f5f5;